[flake8]
ignore = E741
exclude = 
    misc/
    main.py
per-file-ignores =
    __init__.py:F401
    h2libpy/lib/*.py:E226,E302,E402,E501,E701
    h2libpy/lib/__init__.py:F401
    example_*matrix_bem3d*.py:E303,E501
