# Editor settings
.vscode/

# Typing
.mypy_cache

# Byte-compiled
__pycache__/

# Log
log/

# Input / output (but keep directories)
data/input/*
!data/input/.gitkeep
data/out/*
!data/out/*/
data/out/*/*
!data/out/*/.gitkeep
