[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
numpy = "*"
imutils = "*"

[dev-packages]
flake8 = "*"
mypy = "*"
rope = "*"
pygount = "*"
black = "*"

[requires]
python_version = "3.9"
